div,section {border: 1px solid black;}
body {
	background 		: #186185  url('images/gradientblue_background.svg') fixed;
	background-size	: 100% 100%;
	text-align 		: right;
}

/************* leftside *************/
div.content section.leftside div.module-box {
	width  : 200px;
}

div.content section.leftside div.module-box a {
	text-decoration :none;
	display : block;
	padding : 30px;
	color 	: #B5D3DF;
}

div.content section.leftside div.module-box a:hover {
	color : #fff;
}

div.content section.leftside div.module-box a h2{
	line-height : 20px; 
	text-align 	: center;
	margin-top 	: 120px; 
	font-size 	: 20px; 
}

div.content section.leftside div.gallery-box,
div.content section.leftside div.weather-box {
	background : #32839E;
	background : -moz-linear-gradient(-45deg, #5FA0C0 0%, #32839E 100%);
	background : -webkit-linear-gradient(-45deg, #5FA0C0 0%,#32839E 100%);
	background : linear-gradient(-45deg, #5FA0C0 0%,#32839E 100%);
}

div.content section.leftside div.gallery-box a {
	background : url('images/icons/icon_gallery.png') no-repeat top center ;
}

div.content section.leftside div.contact-box {
	width  : 200px;
	min-height : 100px;
	background : #9D315C;
	background : -moz-linear-gradient(-45deg, #C05F7C 0%, #9D315C 100%);
	background : -webkit-linear-gradient(-45deg, #C05F7C 0%,#9D315C 100%);
	background : linear-gradient(-45deg, #C05F7C 0%,#9D315C 100%);
}

div.content section.leftside div.contact-box a {
	background : url('images/icons/icon_contact.png') no-repeat top center ;
}

div.content section.leftside div.menu-leftside-box {
	background : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB50RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNS4xqx9I6wAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMS8yMS8xMRTK2QYAAABYSURBVGiB7c8BDQAhEMCw45XhXxUmSL4hq4JtzcyeB3x/B9zSiKYRTSOaRjSNaBrRNKJpRNOIphFNI5pGNI1oGtE0omlE04imEU0jmkY0jWga0TSiaURzAKKlAKRWtxKCAAAAAElFTkSuQmCC');
}

div.content section.leftside div.weather-box a {
	background : url('images/icons/icon_weather.png') no-repeat top center;
}

div.content section.leftside div.aboutme-box img {
	position : absolute;
	top  : 0;
	left : 0; 
}

div.content section.leftside div.aboutme-box span {
 	bottom  : -140px;
 	left 	: 0;
 	text-align: center;
 	display : block;
 	padding : 20px 74px; 
 	background-color : #111;
 	background-color : rgba(16,16,16,.8); 
 	-webkit-transition: opacity 300ms linear;
 	opacity : 0;
}

div.content section.leftside div.aboutme-box:hover span {
	opacity : 1;
}